<div class="page" data-name="policy">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a class="link back" data-force="true" data-ignore-cache="true">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="title">Privacy & Policy</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block-title">Privacy Policy</div>
        <div class="block block-strong">
            <p style="text-align: justify">
                This privacy policy sets out how Indogamecard uses and protects any information that you give Indogamecard when you use this website. Indogamecard is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement. Indogamecard may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 1 July 2015
            </p>
        </div>

        <div class="block-title">What we collect</div>
        <div class="block block-strong">
            <p>
                We may collect the following information:<br>
                • name<br>
                • contact information including email address<br>
                • demographic information such as postcode, preferences and interests<br>
                • other information relevant to customer surveys and/or offers
            </p>
        </div>

        <div class="block-title">What we do with the information we gather</div>
        <div class="block block-strong">
            <p>
                We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:<br>
                • Internal record keeping.<br>
                • We may use the information to improve our products and services.<br>
                • We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided.<br>
                • From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customize the website according to your interests.
            </p>
        </div>

        <div class="block-title">Security</div>
        <div class="block block-strong">
            <p style="text-align: justify">We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>
        </div>

        <div class="block-title">Links to other websites</div>
        <div class="block block-strong">
            <p style="text-align: justify">
                Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.
            </p>
        </div>

        <div class="block-title">Controlling your personal information</div>
        <div class="block block-strong">
            <p style="text-align: justify">You may choose to restrict the collection or use of your personal information if you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us at <strong>info@indogamecard.com</strong>. We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen. If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible at the above address. We will promptly correct any information found to be incorrect.</p>
        </div>
    </div>
</div>
