<div class="page" data-name="cart">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a class="link back" data-force="true" data-ignore-cache="true">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="title">Keranjang</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block-title">Swipe ke kiri untuk menghapus.</div>
        <div class="list skeleton-text skeleton-effect-fade">
            <ul class="cart-items">
                <li class="swipeout">
                    <div class="item-content swipeout-content">
                        <div class="item-inner">
                            <div class="item-title">{{title}}</div>
                            <div class="item-after"><span class="badge">0</span></div>
                        </div>
                    </div>
                    <div class="swipeout-actions-right">
                        <a href="#" data-confirm="Anda yaking ingin menghapus??" class="swipeout-delete">Hapus</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="block block-strong">
            <p>
                Dengan menekan tombol <b>Pembayaran</b> maka anda telah membaca dan menyetujui <a class="link" href="/terms/">Terms and Condition Indogamecard</a>.
            </p>
        </div>
        <div class="fab fab-extended fab-right-bottom color-yellow">
            <a href="javascript:void(0)" class="btn-submit">
                <i class="icon f7-icons">arrow_right</i>
                <div class="fab-text">Pembayaran</div>
            </a>
        </div>

        <!--<div class="popup popup-services">
            <div class="block-title">
                Terms and Condition Indogamecard
            </div>
            <div class="block block-strong">
                <p><a class="link popup-close" href="#">Close</a></p>
                <p style="text-align: justify">
                    Terima kasih atas kesediaan anda telah mengunjungi dan menggunakan fasilitas website <a href="http://www.indogamecard.com">www.indogamecard.com</a>. Dalam Term of Service ini menjelaskan syarat dan ketentuan yang berlaku ketika anda menggunakan fasilitas dan layanan yang disediakan oleh <a href="http://www.indogamecard.com">www.indogamecard.com</a>
                <ul>
                    <li>Dengan menggunakan fasilitas dan layanan yang disediakan oleh www.indogamecard.com, berarti anda telah menyetujui dan terikat pada semua syarat dan ketentuan yang telah ditentukan oleh www.indogamecard.com.</li>
                    <li>Voucher yang dijual oleh Indogamecard.com adalah voucher yang dapat digunakan untuk melakukan pembayaran ke perusahaan penyedia jasa Game online.</li>
                    <li>Konfirmasi pembayaran dilakukan secara otomatis untuk bank BCA dan Mandiri, Pelanggan yang menggunakan Bank BNI atau BRI harus melakukan konfirmasi secara manual. Kami sarankan struk atau bukti transfer anda simpan yang akan diperlukan apabila transaksi anda di Bank tidak dapat secara otomatis dilakukan melalui halaman konfirmasi pembayaran. Jika hal ini terjadi anda dapat menghubungi Customer Service kami dari jam 07:00 sampai 21:00 WIB</li>
                    <li>Semua transaksi, baik transaksi pembayaran dan voucher yang telah dibeli dapat anda akses setiap saat. Kami menjamin kerahasiaan dan keamanan voucher yang telah anda beli.</li>
                    <li>Kami menyarankan anda untuk tidak memberikan account/akses anda berupa username dan password kepada orang lain demi keamanan anda. Indogamecard.com tidak bertanggung jawab atas penyalahgunaan account anda tersebut.</li>
                    <li>Indogamecard.com Memiliki hak PENUH untuk melakukan penutupan account, ban IP, dan tidak melayani costumer yang kita anggap tidak layak, tanpa alasan.</li>
                    <li>Voucher yang telah dibeli tidak dapat dikembalikan/diuangkan kecuali pihak merchant melaporkan terjadinya kerusakan atau kegagalan sistem. Silahkan hubungi Customer Service kami jika anda mengalami kendala dalam pengisian voucher.</li>
                    <li>Demi keamanan, kami melakukan monitoring terhadap aktifitas setiap halaman yang diakses. Indogamecard.com berhak melakukan pembekuan atau pemblokiran terhadap user yang diketahui secara sengaja mencoba melakukan kegiatan konfirmasi secara acak atau kegiatan percobaan hacking lainnya. Pembekuan dapat berupa pemblokiran terhadap username, ip address, atau nomor rekening pengirim. Dalam hal terjadi pemblokiran, anda dapat menghubungi customer service untuk mengajukan keberatan.</li>
                </ul>
                </p>
            </div>

            <div class="block-title">Indogamecard Balance (IGC Balance) Policy</div>
            <div class="block block-strong">
                <ul>
                    <li>IGC Balance merupakan deposit yang diberikan Pelanggan kepada Indogamecard untuk memudahkan pembelian voucher di Indogamecard.com.</li>
                    <li>Segala jenis transaksi pembelian yang menggunakan IGC Balance yang telah berhasil tidak dapat dibatalkan.</li>
                    <li>IGC Balance tidak memiliki masa berlaku (expired date)</li>
                    <li>Tidak dapat diuangkan/refund.</li>
                    <li>Tidak dapat ditransfer ke sesama pelanggan indogamecard.com.</li>
                    <li>Setiap Pelanggan yang memiliki deposit di Indogamecard telah membaca dan menyetujui semua syarat dan ketentuan Indogamecard dan dengan ini Pelanggan menyetujui untuk membebaskan Indogamecard dari segala tuntutan yang berakibat Hukum dikemudian hari.</li>
                </ul>
            </div>
        </div>-->
    </div>
</div>