<template>
  <div class="page" data-name="catalog">
    <div class="navbar">
      <div class="navbar-inner sliding">
          <div class="title">Katalog</div>
          <div class="subnavbar">
              <!-- Searchbar with auto init -->
              <form class="searchbar">
                  <div class="searchbar-inner">
                      <div class="searchbar-input-wrap">
                          <input type="search" placeholder="Cari">
                          <i class="searchbar-icon"></i>
                          <span class="input-clear-button"></span>
                      </div>
                      <span class="searchbar-disable-button if-not-aurora">Cancel</span>
                  </div>
              </form>
          </div>
      </div>
    </div>
    <div class="page-content">
        <div class="searchbar-backdrop"></div>
        <div class="list media-list">
            <ul>
                {{#each products}}
                <li>
                    <a href="/product/{{id}}/" class="item-link item-content">
                        <div class="item-media"><img src="{{img}}" width="44" height="44"/></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">{{title}}</div>
                            </div>
                            <div class="item-subtitle">{{description}}</div>
                        </div>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
  </div>
</template>
<script>
  return {
    data: function () {
      return {
        products: this.$root.products,
      };
    }
  };
</script>
