<template>
    <div class="page" data-name="news-detail">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a class="link back" data-force="true" data-ignore-cache="true">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title">News</div>
            </div>
        </div>
        <div class="page-content">
            <div class="block block-strong no-margin-top" style="background-image: url('{{product.Background_Image_File}}'); background-size: cover; background-repeat: no-repeat; height: 200px; margin-bottom: 12px">

            </div>

            <div class="block-title" style="text-transform: uppercase; white-space: normal; overflow: auto;">{{product.News_Name}}</div>
            <div class="block block-strong">
                {{product.News_Body}}
            </div>
        </div>
    </div>
</template>
<script>
    return {
        data: function () {
            var productId = this.$route.params.id;
            var products = getLocalStorage('news');
            var currentProduct = products.find(x => x.Id == productId);
            return {
                product: currentProduct
            };
        }
    };
</script>
