<div class="page" data-name="settings">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="title">Pengaturan</div>
    </div>
  </div>
  <div class="page-content">
      <div class="list media-list">
          <ul>
              <li>
                  <a href="/profile/" class="item-link item-content">
                      <div class="item-media">
                          <i class="icon f7-icons" style="font-size: 30px; line-height: 1.5">person_round</i>
                      </div>
                      <div class="item-inner">
                          <div class="item-title-row">
                              <div class="item-title text-name" style="font-weight: bold">Name</div>
                          </div>
                          <div class="item-subtitle text-email">Email</div>
                      </div>
                  </a>
              </li>
          </ul>
      </div>

      <div class="list media-list">
          <ul>
              <li>
                  <a href="/howto/" class="item-link item-content">
                      <div class="item-media">
                          <i class="icon f7-icons">book</i>
                      </div>
                      <div class="item-inner">
                          <div class="item-title-row">
                              <div class="item-title">Cara Berbelanja</div>
                          </div>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="/policy/" class="item-link item-content">
                      <div class="item-media">
                          <i class="icon f7-icons">lock</i>
                      </div>
                      <div class="item-inner">
                          <div class="item-title-row">
                              <div class="item-title">Privacy Policy</div>
                          </div>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="/terms/" class="item-link item-content">
                      <div class="item-media">
                          <i class="icon f7-icons">info_round</i>
                      </div>
                      <div class="item-inner">
                          <div class="item-title-row">
                              <div class="item-title">Terms & Condition</div>
                          </div>
                      </div>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</div>
