<template>
    <div class="page" data-name="voucher-detail">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <!--<div class="left">
                  <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">Back</span>
                  </a>
                </div>-->
                <div class="left">
                    <a class="link back" data-force="true" data-ignore-cache="true">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title">{{product.Voucher_Name}}</div>
            </div>
        </div>
        <div class="page-content">
            <!--<div class="block-title">
                DETAIL
            </div>
            <div class="block block-strong">
                {{product.Description}}
            </div>-->
            <!--<div class="list accordion-list">
                <ul>
                    <li class="accordion-item accordion-item-opened"><a href="#" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">Detail</div>
                        </div></a>
                        <div class="accordion-item-content">
                            <div class="block">
                                {{product.Description}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>-->
            <div class="block block-strong no-margin-top" style="background-image: url('{{product.Background_Image_Mobile}}'); background-size: cover; background-repeat: no-repeat; height: 200px; margin-bottom: 12px">
                <div style="position: absolute; top: 164px; padding: 5px; background-color: #fff; border-radius: 20%">
                    <img src="{{product.Icon_Image_File}}" style="height: 60px; width: 60px" />
                </div>
            </div>

            <div class="block-title" style="margin-top: 60px !important; text-transform: uppercase">PILIH ITEM :</div>
            <div class="list media-list skeleton-text skeleton-effect-fade">
                <ul class="voucher-items">
                    <li>
                        <label class="item-radio item-content">
                            <input type="radio" name="demo-media-radio" value="1" checked />
                            <i class="icon icon-radio" checked></i>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Facebook</div>
                                </div>
                                <div class="item-subtitle">New messages from John Doe</div>
                                <div class="item-text">Lorem ipsum ...</div>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
            <form class="list" id="voucher-form">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Jumlah</div>
                                <div class="item-after">
                                    <div class="stepper stepper-fill" data-wraps="true" data-autorepeat="true" data-autorepeat-dynamic="true" data-manual-input-mode="true">
                                        <!-- Stepper minus/decrement button -->
                                        <div class="stepper-button-minus"></div>
                                        <!-- Stepper input -->
                                        <div class="stepper-input-wrap">
                                            <!-- recommended to make input not editable (readonly) -->
                                            <input type="text" name="Qty" value="1" min="1" step="1">
                                        </div>
                                        <!-- Stepper plus/increment button -->
                                        <div class="stepper-button-plus"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Total</div>
                                <div class="item-after">
                                    <input type="hidden" name="Quantity" />
                                    <input type="text" name="Total_Amount" value="0" style="text-align: right; font-weight: bold">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
            <div class="block block-strong row">
                <div class="col"><button type="button" class="button button-outline color-gray" id="btn-cart">Keranjang</button></div>
                <div class="col"><button type="button"  class="button button-outline color-green" id="btn-submit">Bayar</button></div>
            </div>
        </div>
    </div>
</template>
<script>
    return {
        data: function () {
            var productId = this.$route.params.id;
            var products = getLocalStorage('products');
            var currentProduct = products.find(x => x.Id == productId);
            if(productId == -999) {
                currentProduct = products.find(x => x.Voucher_Code == 'top-up');
            }
            return {
                product: currentProduct
            };
        }
    };
</script>
