<div class="page" data-name="howto">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a class="link back" data-force="true" data-ignore-cache="true">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="title">Cara Berbelanja</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block-title">Panduan Daftar Akun IGC</div>
        <div class="block block-strong">
            <ul>
                <li>Tekan Menu <a style="text-decoration:none" href="https://indogamecard.com/Account/Register">Masuk / Daftar</a> di bagian atas website.</li>
                <li>Masukan Nama Lengkap anda.</li>
                <li>Masukan Password.</li>
                <li>Masukan Konfirmasi Password.</li>
                <li>Masukan PIN.</li>
                <li>Masukan Konfirmasi Pin.</li>
                <li>Tekan tombol Daftar.</li>
                <li>Check email untuk aktifasi akun.</li>
            </ul>
        </div>

        <div class="block-title">Panduan Belanja / Topup IGC</div>
        <div class="block block-strong">
            <ol>
                <li>Login akun anda melalui menu <a style="text-decoration:none" href="https://indogamecard.com/Account/Login">Masuk/Daftar</a> di bagian atas website.</li>
                <li>Pilih Voucher/Topup.</li>
                <li>Masukan jumlah Voucher/Topup minimal 1.</li>
                <li>Tekan Tombol Bayar.</li>
                <li>Untuk User yang IGC balance nya mencukupi akan otomatis di potong. Lompat ke langkah 10.</li>
                <li>Pilih Bank yang digunakan, User yang IGC balancenya tidak mencukupi akan di tagih biaya dari (Total Harga Voucher - Saldo IGC) + (Kode unik transaksi).</li>
                <li>Tekan Lanjut untuk membuat Pembayaran.</li>
                <li>Lakukan Transfer ke rekening yang di pilih. Pastikan jumlahnya sesuai dengan total yang harus di transfer.</li>
                <li>Konfirmasi otomatis hanya untuk BCA dan Mandiri , User yang menggunakan BRI dan BNI silahkan lakukan konfirmasi Pembayaran <a href="https://indogamecard.com/Home/Payments" target="_blank">disini</a></li>
                <li>Cek kode voucher di riwayat transaksi <a href="https://indogamecard.com/Home/MyProfile" target="=_blank">disini</a></li>
            </ol>
        </div>

        <div class="block-title">Syarat dan Ketentuan</div>
        <div class="block block-strong">
            <ul>
                <li>Batas waktu untuk transaksi pembelian voucher adalah <b><span style="color:red;">1 jam.</span></b> Pesanan akan otomatis dibatalkan jika melewati batas waktu yang ditentukan.</li>
                <li>Batas waktu untuk transaksi Topup IGC adalah<b><span style="color:red;">24 jam.</span></b> Topup akan otomatis dibatalkan jika melewati batas waktu yang ditentukan.</li>
                <li>User yang menggunakan Bank Transfer BNI dan BRI, setiap pesanan yang sukses wajib melakukan konfirmasi pembayaran <a href="https://indogamecard.com/Home/Payments" target="_blank">disini</a></li>
                <li>User yang menggunakan Bank Transfer BCA dan Mandiri akan diproses secara otomatis. Waktu tunggu adalah 1-2 menit kecuali ada Maintenance dari bank terkait.</li>
            </ul>
        </div>
    </div>
</div>
