<template>
    <div class="page" data-name="finish">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="title">Detail Transaksi</div>
            </div>
        </div>
        <div class="page-content">
            <div class="block-title">Ringkasan Pembayaran</div>
            <div class="card">
                <div class="card-content">
                    <div class="list">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">No. Pembayaran</div>
                                        <div class="item-after label-paymentno">XXXXXX</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">No. Pemesanan</div>
                                        <div class="item-after label-orderno">XXXXXX</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Tanggal</div>
                                        <div class="item-after label-orderdate">XXXXXX</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label-ordername" style="font-weight: bold">Guest</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label-orderphone">+62812345678</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label-ordermail">guest@xyz.com</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-title">BANK TRF</div>
            <div class="list media-list skeleton-text skeleton-effect-fade">
                <ul>
                    <li class="item-content">
                        <div class="item-media img-bankicon">
                            <img src="/img/icons8-wallet.png" style="width: 36px; height: 36px" />
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title label-bankname">Bank Negara Indonesia</div>
                            </div>
                            <div class="item-subtitle label-bankaccount">123456 A/N Lenny</div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="block-title">ITEM</div>
            <div class="list media-list">
                <ul class="payment-items">
                    <li class="item-content">
                        <div class="item-media">
                            <img src="/img/icons8-wallet.png" style="width: 36px; height: 36px" />
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Steam Wallet Code IDR</div>
                            </div>
                            <div class="item-subtitle">Steam 150.000 IDR x 2</div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="list">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Total</div>
                            <div class="item-after label-paymenttotal">100,000</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Batas Waktu</div>
                            <div class="item-after label-paymentlimit text-color-red">29-06-2019 07:20</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Status</div>
                            <div class="item-after label-paymentstatus">Waiting</div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="block block-strong">
                <p class="row row-confirmation">
                    <button  class="col button button-outline btn-upload color-green">Upload Bukti</button>
                </p>
                <p class="row row-reveal">
                    <button  class="col button button-outline btn-reveal color-blue">Lihat Kode / No. Serial</button>
                </p>
                <p class="row">
                    <a href="/"  class="col button button-outline">Kembali ke Beranda</a>
                </p>
            </div>
        </div>
    </div>
</template>