<div class="page" data-name="news">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="title">News</div>
        </div>
    </div>
    <div class="page-content">
        <div class="list media-list skeleton-text skeleton-effect-fade">
            <ul class="news-list">
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Facebook</div>
                                <div class="item-after">17:14</div>
                            </div>
                            <div class="item-subtitle">New messages from John Doe</div>
                            <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">John Doe (via Twitter)</div>
                                <div class="item-after">17:11</div>
                            </div>
                            <div class="item-subtitle">John Doe (@_johndoe) mentioned you on Twitter!</div>
                            <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Facebook</div>
                                <div class="item-after">16:48</div>
                            </div>
                            <div class="item-subtitle">New messages from John Doe</div>
                            <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--<div class="list media-list skeleton-text skeleton-effect-fade">
            <ul class="all-voucher">
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><div class="skeleton-block" style="width: 80px; height: 80px;"></div></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Title</div>
                            </div>
                            <div class="item-subtitle">Description</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><div class="skeleton-block" style="width: 80px; height: 80px;"></div></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Title</div>
                            </div>
                            <div class="item-subtitle">Description</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>-->
    </div>
</div>
