<div class="page" data-name="voucher">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="title">Voucher</div>
            <div class="subnavbar">
                <!-- Searchbar with auto init -->
                <form class="searchbar">
                    <div class="searchbar-inner">
                        <div class="searchbar-input-wrap">
                            <input type="search" placeholder="Cari">
                            <i class="searchbar-icon"></i>
                            <span class="input-clear-button"></span>
                        </div>
                        <span class="searchbar-disable-button if-not-aurora">Cancel</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="searchbar-backdrop"></div>
        <div class="list media-list skeleton-text skeleton-effect-fade">
            <ul class="all-voucher">
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><div class="skeleton-block" style="width: 80px; height: 80px;"></div></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Title</div>
                            </div>
                            <div class="item-subtitle">Description</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><div class="skeleton-block" style="width: 80px; height: 80px;"></div></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Title</div>
                            </div>
                            <div class="item-subtitle">Description</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
