<div class="page" data-name="historypoint">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a class="link back" data-force="true" data-ignore-cache="true">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="title">History Point</div>
        </div>
    </div>
    <div class="page-content">
        <div class="list media-list skeleton-text skeleton-effect-fade">
            <ul class="historypoint">
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Facebook</div>
                                <div class="item-after">17:14</div>
                            </div>
                            <div class="item-subtitle">New messages from John Doe</div>
                            <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>