<template>
<div class="page" data-name="payment">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a class="link back" data-force="true" data-ignore-cache="true">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="title">Pembayaran</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block-title">Pilih Metode Pembayaran :</div>
        <div class="list accordion-list">
            <ul>
                <li class="accordion-item accordion-item-opened" id="bank-list"><a href="#" class="item-content item-link">
                    <div class="item-inner">
                        <div class="item-title">Bank Transfer</div>
                    </div></a>
                    <div class="accordion-item-content">
                        <div class="list media-list skeleton-text skeleton-effect-fade">
                            <ul class="bank-options">
                                
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="accordion-item" id="vac-list"><a href="#" class="item-content item-link">
                    <div class="item-inner">
                        <div class="item-title">Virtual Account</div>
                    </div></a>
                    <div class="accordion-item-content">
                        <div class="list media-list skeleton-text skeleton-effect-fade">
                            <ul class="virtual-acc-options">
                                
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="accordion-item" id="mm-list"><a href="#" class="item-content item-link">
                    <div class="item-inner">
                        <div class="item-title">Minimarket</div>
                    </div></a>
                    <div class="accordion-item-content">
                        <div class="list media-list skeleton-text skeleton-effect-fade">
                            <ul class="minimarket-options">
                               
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="accordion-item" id="mm-list"><a href="#" class="item-content item-link">
                    <div class="item-inner">
                        <div class="item-title">OVO</div>
                    </div></a>
                    <div class="accordion-item-content">
                        <div class="list media-list skeleton-text skeleton-effect-fade">
                            <ul class="ovo-options">

                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <form class="list skeleton-text skeleton-effect-fade" id="payment-form">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">No. Pemesanan</div>
                            <div class="item-after label-orderno">CEO</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Tanggal</div>
                            <div class="item-after label-orderdate">CEO</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Jumlah</div>
                            <div class="item-after label-orderamt">CEO</div>
                        </div>
                    </div>
                </li>
                <li class="igc-balance">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Gunakan IGC Balance</div>
                            <div class="item-after label-memberamt">CEO</div>
                        </div>
                    </div>
                </li>
                <li class="payment-uniq">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Kode Unik</div>
                            <div class="item-after label-orderuniq text-color-red">CEO</div>
                        </div>
                    </div>
                </li>
                <li class="payment-fee">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Biaya Admin</div>
                            <div class="item-after label-orderfee text-color-red">CEO</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Total</div>
                            <div class="item-after label-ordertotal">CEO</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">PIN</div>
                            <div class="item-input-wrap">
                                <input type="hidden" name="Order_id" />
                                <input type="hidden" name="Order_Number" />
                                <input type="hidden" name="Order_Date" />
                                <input type="hidden" name="Amount" />
                                <input type="hidden" name="Member_Point_Amount" />
                                <input type="hidden" name="Unique_Amount" />
                                <input type="hidden" name="Admin_Fee" />
                                <input type="password" name="PIN" placeholder="6 digit kode PIN" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <div class="block block-strong row">
            <div class="col"><button type="button"  class="button button-outline green btn-submit"><i class="icon f7-icons">arrow_right</i> Lanjutkan</button></div>
        </div>
    </div>
</div>
</template>