<div class="page" data-name="profile">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a class="link back" data-force="true" data-ignore-cache="true">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="title">Profil</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block-title">Silakan lengkapi profil anda.</div>
        <form class="list no-hairlines-md" id="profile-form">
            <ul>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Nama Depan</div>
                            <div class="item-input-wrap">
                                <input type="text" name="First_Name" placeholder="Depan">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Nama Belakang</div>
                            <div class="item-input-wrap">
                                <input type="text" name="Last_Name" placeholder="Belakang">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Email</div>
                            <div class="item-input-wrap">
                                <input type="email" name="Email" placeholder="Email" readonly>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Nomor HP</div>
                            <div class="item-input-wrap">
                                <input type="text" name="Phone_Number" placeholder="+628xx xxxx xxxx">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <div class="block block-strong row">
            <a href="#" class="col button button-raised button-fill btn-submit">Simpan</a>
        </div>
    </div>
</div>
