<div class="page" data-name="topup">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a class="link back" data-force="true" data-ignore-cache="true">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="title">Top Up</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block-title">PILIH ITEM :</div>
        <div class="list media-list skeleton-text skeleton-effect-fade">
            <ul class="voucher-items">
                <li>
                    <label class="item-radio item-content">
                        <input type="radio" name="demo-media-radio" value="1" checked />
                        <i class="icon icon-radio" checked></i>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Facebook</div>
                            </div>
                            <div class="item-subtitle">New messages from John Doe</div>
                            <div class="item-text">Lorem ipsum ...</div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>
