/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}
.img-header-logo {
    height: var(--f7-navbar-height);
}
.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}
.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
}
.demo-swiper {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 200px;
}
.demo-swiper.demo-swiper-auto .swiper-slide {
  width: 85%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}
#splashscreen {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* Black background with opacity */
    z-index: 10000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#splashtext, .popover-fixed-center {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    /* bring your own prefixes */
    transform: translate(-50%, -50%) !important;
}

@keyframes blinker {
    75% { opacity: 0; }
}

.blink {
    animation: blinker 2s linear infinite;
}
.md {
    --f7-page-bg-color: #efeff4 !important;
}

.demo-swiper {
    margin : 0px 0px 10px !important;
}

.list .stepper-input-wrap input {
    width: 45px !important;
    height: 100% !important;
    color: var(--f7-theme-color) !important;
    font-size: var(--f7-stepper-value-font-size) !important;
    font-weight: var(--f7-stepper-value-font-weight) !important;
    text-align: center !important;
}

.title.sliding {
    left: 0px !important;
}

.item-text p {
    margin: 0px !important;
}
